@import 'tailwindcss';

@theme {
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #22c55e;
  --color-brand-600: #16a34a;
  --color-brand-700: #15803d;
  --color-brand-900: #14532d;
}

@variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Thin Stylized Scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* slate-300 */
  border-radius: 20px;
}

.dark .thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;
  /* slate-700 */
}
