@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Thin Stylized Scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* slate-300 */
  border-radius: 20px;
}

.dark .thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;
  /* slate-700 */
}
